@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic,cyrillic-ext);

/** Общие стили */
body {
    font-family: 'Open Sans', sans-serif !important;
}

.box {
    background: #ecf0f5 !important;
    border:0  !important;
    box-shadow: none  !important;
}

.form-group:after {
    display: block;
    content: '';
    clear: both;
}

.control-label {
    font-weight: 600;
    text-align: right;
}

.help-block {
    clear: both;
    font-size: 13px;
    color: #ababab !important;
}

.help-block-error {
    color: #dd4b39 !important;
}

.nav-tabs > li.active, .nav-tabs > li.active > a {
    background: #fbfbfb !important;
}
select {
    max-width: 450px;
}
input[type="text"] {
    display: inline-block;
    max-width: 450px;
}
.how-get-this {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.tab-content {
    padding:40px;
    background: #fbfbfb;
    border: 1px solid #ddd;
    border-top:0;
}
.separator {
    padding: 9px 12px;
    background-color: #ecf0f5;
}
.separator-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #555;
    margin: 0px;
}
.separator-hint {
    margin: 0px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 6px;
}

legend + .control-group {
    margin-top: 0px;
}
.fieldset-hidden {
    display: none;
}
