.locker-status-tabs {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.locker-status-tabs li {
    display: inline-block;
    margin-right: 2px;
}

.tab-public {
    color:#8b9a74;
}
.tab-draft {
    color:#ffad64;
}
.tab-trash {
    color:#f57e7e;
}