@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic,cyrillic-ext);

/** Общие стили */
body {
    font-family: 'Open Sans', sans-serif !important;
}

.locker-status-tabs {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.locker-status-tabs li {
    display: inline-block;
    margin-right: 2px;
}

.tab-public {
    color:#8b9a74;
}
.tab-draft {
    color:#ffad64;
}
.tab-trash {
    color:#f57e7e;
}

.locker-list-title {
    font-size:14px;
    font-weight: 600;
}